# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Cloudflare Pages / OpenNext
.open-next/
.wrangler/

# System Files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDEs
.vscode/*
!.vscode/extensions.json
.idea

# Environment variables
.env
.env*.local

# TypeScript
*.tsbuildinfo
